@model KOODLE.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Post_Id" />
            <div class="form-group">
                <label asp-for="Post_Title" class="control-label"></label>
                <input asp-for="Post_Title" class="form-control" />
                <span asp-validation-for="Post_Title" class="text-danger"></span> 
            </div>
            <div class="form-group">
                <label asp-for="Post_Txt" class="control-label"></label>
                <input asp-for="Post_Txt" class="form-control" />
                <span asp-validation-for="Post_Txt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post_Date" class="control-label"></label>
                <input asp-for="Post_Date" class="form-control" />
                <span asp-validation-for="Post_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post_Like" class="control-label"></label>
                <input asp-for="Post_Like" class="form-control" />
                <span asp-validation-for="Post_Like" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
