
@{
    ViewData["Title"] = "about";
}

<style>
    h1{
        font-family:'Yu Gothic';
    }
</style>
    <h1>A dumb question that you ask because you are too lazy to find the answer yourself.</h1>

    